<footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Elements -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Plataforma virtual Universidad popular del Cesar</h5>
                <p>Este sitio es un recurso pedagógico y tecnológico,
                    dirigido a la comunidad en general, con el fin de fortalecer la gestión educativa
                    en su contexto misional.</p>
    
            </div>
            <div class="col-md-6 mb-md-0 mb-3">
    
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">CONTACTOS</h5>
                <p>Universidad Popular del Cesar Sede Sabanas
    
                    Horarios de Atención: Lunes - Viernes (08.00 - 17.00 P.m)
    
                    Telefono: 5849233
    
                    Correo: ingsistemas@unicesar.edu.co</p>
    
            </div>

        </div>
        
        <div class="row pb-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text"> </i>
                    </a>

                </div>

            </div>

        </div>
    </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <p> INGENIERIA DE SISTEMAS UNIVERSIDAD POPULAR DEL CESAR 2020. DISEÑO Y PROGRAMACION ANA ANGULO Y JOEL
                GARCIA</p>
                <a href="https://mdbootstrap.com/"></a>
        </div>
        <!-- Copyright -->

</footer>