<img src="../../assets/noticias.jpg" alt="Noticias">
<div class="row">
    <div class="col-sm-6 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">INSCRIBE TU PROYECTO</h5>
          <p class="card-text">La Universidad Popular Del Cesar abre su convocatoria para que los docentes inscriban sus proyectos para la competencia Exposoftware.</p>
          <a [routerLink]="['/proyectoRegistro']" class="btn btn-success btn-sm">INSCRIBETE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">INFORMACION</h5>
          <p class="card-text">Jornada Cientifica De Investigacion Tecnologica ofrecida por la Universidad Popular Del Cesar.</p>
          <a [routerLink]="['/Informacion']" class="btn btn-success btn-sm">INFORMACION</a>
        </div>
      </div>
    </div>
  </div> 